menuconfig LOGIC_ANALYZER
    bool "Enable LogicAnalyzer module"
    select SERIAL
    help
      Enable LogicAnalyzer module

config LOGIC_ANALYZER_PRIO
    int "Set the module priority"
    default 0
    help
      Set the Logic Analyzer module priority
